<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../../layouts/meta.ejs %>
  <% include ../../layouts/style.ejs %>
</head>

<body class="fixed-sn light-blue-skin">
    <% include ../../layouts/navbar_admin.ejs %>
  <main>
    <div class="container-fluid mt-5">
        <h2>Dashboard</h2>
        <div style="height: 2000px"></div>
      </div>
  </main>
  <% include ../../layouts/footer.ejs %>
  <% include ../../layouts/script.ejs %>
</body>

</html>