<header>
    <nav>
        <div class="nav navbar fixed-top justify-content-center bg_site">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" height="30" class="d-inline-block align-top">
                Bootstrap
            </a>
        </div>
    </nav>
</header>