<div class="d-flex flex-row-reverse mb-4">
    <button type="button" class="btn btn-default btn-rounded btn-sm" data-toggle="modal" data-target="#add_category">Add
        Category</button>
</div>

<table class="table table_category">
    <thead class="grey lighten-2">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col" class="text-center">Option</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Cryptocurrency</td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-rounded btn-sm" id="btn_delete">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Gold Market</td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-rounded btn-sm" id="btn_delete">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Physical Money</td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-rounded btn-sm" id="btn_delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="add_category" tabindex="-1" role="dialog" aria-labelledby="add_category" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mt-3 mx-3">
                    <input type="text" class="form-control" placeholder="Category Name">
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>