<div class="d-flex flex-row-reverse mb-4">
    <a href="/manager/product/new" target="_blank" class="btn btn-default btn-rounded btn-sm">Add Product</a>
</div>

<table class="table table_category">
    <thead class="grey lighten-2">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col" class="text-center">Option</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Bitcoin</td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-rounded btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-rounded btn-sm" id="btn_delete">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Litecoin</td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-rounded btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-rounded btn-sm" id="btn_delete">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Dogecoin</td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-rounded btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-rounded btn-sm" id="btn_delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>