<div class="form-group">
    <label>Product Name</label>
    <input type="text" name="pd_name" class="form-control">
</div>

<div class="form-group">
    <div class="mt-4">
        <label>Description</label>
        <div id="editor"></div>
    </div>
</div>

<div class="form-group">
    <label>Category</label>
    <select class="mdb-select md-form mt-0">
        <option value="" disabled selected>Choose your category</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
</div>

<div class="form-group">
    <label>Image cover</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Image gallery</label>
    <div class="file-upload-wrapper">
        <input type="file" id="input-file-now" class="file-upload" />
    </div>
</div>

<div class="form-group">
    <label>Tags</label>
    <input type="text" data-role="tagsinput" value="Cryptocurrency,BTC,Bitcoin">
</div>

<div class="d-flex justify-content-center pt-4">
    <button class="btn btn-default">Save</button>
  </div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>