<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/meta.ejs %>
  <% include ../layouts/style.ejs %>
</head>

<body>
  <% include ../layouts/navbar.ejs %>
  <% include ../additional/home_banner.ejs %>
  <main>
    <% include ../additional/home_product.ejs %>
  </main>
  <% include ../layouts/footer.ejs %>
  <% include ../layouts/cart.ejs %>
  <% include ../layouts/script.ejs %>
</body>

</html>