<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/meta.ejs %>
  <% include ../layouts/style.ejs %>
</head>

<body>
  <main class="mt-5 px-5">
    <div class="container-fluid">
      <h2 class="mb-5 text-center text-md-left">Public Page</h2>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/home.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Home Page</h4>
              <a href="/" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/blank.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Product Page</h4>
              <a href="#" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/blank.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">EMS Tracking</h4>
              <a href="#" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
      </div>
      <h2 class="mb-5 text-center text-md-left">Admin Page</h2>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/login.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Login Page</h4>
              <a href="/manager/login" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/dashbord.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Dashbord Page</h4>
              <a href="/manager/" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/category.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Category Page</h4>
              <a href="/manager/category" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/pd_all.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Product List Page</h4>
              <a href="/manager/product/all" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="/images/sitemap/pd_new.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Product New Page</h4>
              <a href="/manager/product/new" target="_blank" class="btn btn-primary">Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>