    <!-- Top Product -->
    <div class="container title_bar title_bar_head head_title mt-5">
        <div class="d-flex flex_container">
            <div class="flex f_l">
                <h2 id="flex_title">Top Products</h2>
                <h5 id="flex_subtitle">Hot and trending product.</h5>
            </div>
            <div class="flex f_r">
                <h5 id="seemore"><a href="#">seemore</a></h5>
            </div>
        </div>
    </div>
    <div class="container mt-3 pd_owl">
        <div class="owl-product owl-carousel owl-theme">
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Poppular Product -->
    <div class="container title_bar title_bar_head mt-5">
        <div class="d-flex flex_container">
            <div class="flex f_l">
                <h2 id="flex_title">Most Popular Products</h2>
                <h5 id="flex_subtitle">Hot and trending product.</h5>
            </div>
            <div class="flex f_r">
                <h5 id="seemore"><a href="#">seemore</a></h5>
            </div>
        </div>
    </div>
    <div class="container mt-3 pd_owl ">
        <div class="owl-product owl-carousel owl-theme">
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- All Product -->
    <div class="container title_bar title_bar_head mt-5">
        <div class="d-flex flex_container">
            <div class="flex f_l">
                <h2 id="flex_title">All Product</h2>
                <h5 id="flex_subtitle">Hot and trending product.</h5>
            </div>
            <div class="flex f_r">
                <h5 id="seemore"><a href="#">seemore</a></h5>
            </div>
        </div>
    </div>
    <div class="container mt-3 pd_owl ">
        <div class="owl-product owl-carousel owl-theme">
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/product">
                    <div class="card">
                        <img class="card-img-top" src="/images/product/item_001.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="pd_name">Product Name</p>
                            <p class="pd_price">฿3,490.00</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>