<!-- 1500x500 pixel -->
<div class="owl-banner owl-carousel owl-theme">
    <div class="item">
        <img src="/images/banner/banner_001.png">
    </div>
    <div class="item">
        <img src="/images/banner/banner_002.png">
    </div>
    <div class="item">
        <img src="/images/banner/banner_003.png">
    </div>
</div>